@media (max-width: 768px) {
   /* Adjust font sizes, margins, and button styles for smaller screens */
   h1 {
      font-size: 5rem;
      margin-bottom: 3rem;
   }

   h1 > span {
      font-size: 2.6rem;
      margin-bottom: 2rem;
   }

   h2 {
      font-size: 2.2rem;
      margin-bottom: 2.5rem;
   }

   h3 {
      font-size: 1.8rem;
   }

   .btn {
      font-size: 2rem;
      width: 16rem;
      margin-bottom: 1.5rem;
   }
}
